.login {
  width: 40%;
  margin: 15px auto;
  box-shadow: 0px 2px 4px 1px #e2e8ecbd;
  border-radius: 12px;
  min-height: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}