.chat-section {
  position: fixed;
  bottom: 74px;
  right: 22px;
  min-height: 350px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 1px #8a959eab;
  width: 300px;
  z-index: 4;
  font-size: 23px;
  background-color: #fff;
  padding: 12px;
}