.chat-section {
  position: fixed;
  bottom: 74px;
  right: 22px;
  min-height: 350px;
  border-radius: 6px;
  box-shadow: 2px 6px 3px 2px #e2e8ecbd;
  width: 300px;
  /* border: 1px solid #000; */
  z-index: 4;
  font-size: 23px;
  background-color: #fff;
  padding: 12px;
}