.conatianer {
  display: contents;
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

footer {
  width: 100%;
  padding: 12px;
}

footer img {
  position: fixed;
  right: 12px;
  bottom: 12px;
  background-color: #FFDD2D !important;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-icon {
  padding: 5px;
}

.cancel-icon {
  padding: 10px;
}