.conatianer {
  display: contents;
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
